body {
    display: flex;
    font-family: 'Tajawal', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e6f0ff;;
}

form {
    padding: 12px 28px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 280px;
    background-color: #fff;
}
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 22px;
}
.head p {
    text-align: center;
    margin: 0;
    color: #555;
    line-height: 1.4;
}
.head .fa-lock {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    background: rgb(59, 59, 246);
    width: 25px;
    height: 25px;
}
label {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 8px;
}
.email-container {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 22px;
    color: #888;
}
.email-container input {
    outline: none;
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
}
.submit {
    width: 100%;
    height: 100%;
    background: rgb(59, 59, 246);
    padding: 10px;
    color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(59, 59, 246, 0.304);
    transition: .3s;
}
.submit:hover {
    background: rgb(54, 54, 221);
}
.hint {
    display: flex;
    gap: 12px;
    margin-top: 22px;
    margin-bottom: 22px;
    background: rgb(232, 232, 255);
    border-radius: 10px;
    color: rgb(19, 19, 125);
    padding: 10px;
    font-size: 12px;
}
.hint .check {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.hint i {
    color: rgb(59, 59, 246);
}
.hint p,
.hint h4 {
    margin: 3px;
}
.back-to-login {
    margin-bottom: 12px;
    color: rgb(59, 59, 246);
}
.back-to-login,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.contact {
    color: #333;
    margin-top: 22px;
}
.contact a {
    color: rgb(59, 59, 246);
    font-weight: 600;
}