
.hint {
    display: flex;
    gap: 12px;
    margin-top: 22px;
    margin-bottom: 22px;
    background: rgb(232, 232, 255);
    border-radius: 10px;
    color: rgb(19, 33, 125);
    padding: 10px;
    font-size: 12px;
}
.hint .check {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.hint i {
    color: rgb(84, 104, 253);
}
.hint p,
.hint h4 {
    margin: 3px;
}

.contact {
    color: #333;
    margin-top: 22px;
}
.contact a {
    color: rgb(84, 104, 253);
    font-weight: 600;
}