.password-requeirements {
    padding: 10px;
    background: rgba(72, 116, 249, 0.095);
    border-radius: 10px;
    margin-bottom: 18px;
    font-size: 12px;
}
.password-requeirements .requeired {
    display: flex;
    gap: 12px;
    align-items: center;
    color: #555;
    margin-bottom: 5px;
}
.password-requeirements h5 {
    color: #333;
    margin: 0;
    margin-bottom: 8px;
}
.password-requeirements .requeired i {
    width: 13px;
    height: 13px;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    background: rgb(3, 199, 3);
    border-radius: 50%;

}
.submit {
    margin-bottom: 18px;
}
.form-container .foot {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #cccccc39;
    gap: 12px;
    color: #888;
    font-size: 11px;
}