body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tajawal', sans-serif;
    height: 100vh;
    background: #e6f0ff;
}

.form-container {
    padding: 12px 28px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 280px;
    background-color: #fff;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 22px;
}
.head p {
    text-align: center;
    margin: 0;
    color: #555;
    line-height: 1.4;
}
.head .fa-lock {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    background: rgb(84, 104, 253);
    width: 25px;
    height: 25px;
}
label {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 8px;
}
.new-password-container,
.confirm-password-container {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 22px;
    color: #888;
}
.new-password-container input,
.confirm-password-container input {
    outline: none;
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.password-requeirements {
    padding: 10px;
    background: rgba(72, 116, 249, 0.095);
    border-radius: 10px;
    margin-bottom: 18px;
    font-size: 12px;
}
.password-requeirements .requeired {
    display: flex;
    gap: 12px;
    align-items: center;
    color: #555;
    margin-bottom: 5px;
}
.password-requeirements h5 {
    color: #333;
    margin: 0;
    margin-bottom: 8px;
}
.password-requeirements .requeired i {
    width: 13px;
    height: 13px;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    background: rgb(3, 199, 3);
    border-radius: 50%;

}

.submit {
    width: 100%;
    height: 100%;
    margin-bottom: 18px;
    background: rgb(84, 104, 253);
    padding: 10px;
    color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(72, 116, 249, 0.304);
    transition: .3s;
}
.submit:hover {
    background: rgb(64, 83, 227);
}
.back-to-login {
    margin-bottom: 12px;
    color: rgb(84, 104, 253);
}
.back-to-login,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.form-container .foot {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #cccccc39;
    gap: 12px;
    color: #888;
    font-size: 11px;
}