
.container {
    padding: 32px;
}
.container .head h3,
.container .head p {
    margin: 4px;
    color: #444;
}


.sidebar {
    position: relative;
    box-sizing: border-box;
    padding: 12px;
    background: #fff;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    z-index: 6;
}
.sidebar .icons-info {
    position: absolute;
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.sidebar .icons-info a {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: rgb(84, 104, 253);
    color: #f2f2f2;
    border-radius: 50%;
    transition: .3s;
}
.sidebar .icons-info a:hover {
    text-decoration: none;
    background-color: rgb(64, 83, 227);
}
.sidebar .title i {
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgb(84, 104, 253);
    color: #f2f2f2;
    border-radius: 4px;
}
.sidebar.active {
    width: 230px;
    opacity: 1;
    pointer-events: auto;
    z-index: 6;
}
.sidebar .title {
    display: flex;
    gap: 12px;
    align-items: center;
}

body {
    font-family: 'Tajawal', sans-serif;
    background: #eef3ff;
}
ul {
    list-style: none;
    padding: 0;
}

.search {
    border: 1px solid #ccc;
    color: #555;
    display: flex;
    padding: 6px 8px;
    border-radius: 6px;
    gap: 8px;
}
.search:focus-within {
    border: 1px solid rgb(84, 104, 253);
    box-shadow: 0 8px 20px rgba(84,104,253,0.233);
}
header h5,
header p {
    margin: 0;
}
header .search {
    width: 0;
    opacity: 0;
    pointer-events: none;
}
.search input {
    background: transparent;
    outline: none;
    color: #555;
    border: none;
    width: 100%;
}
.search i {
    cursor: pointer;
}
.search button {
    padding: 0;
}
header {
    background: #fff;
    padding: 8px 32px 8px 32px;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
header,
.noti-user,
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.noti-user .notifecation a {
    color: #555;
    margin-right: 7px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
    position: relative;
}
.noti-user .notifecation a::after {
    content: '';
    position: absolute;
    right: 8px;
    top: -7px;
    width: 7px;
    height: 7px;
    background: red;
    border-radius: 50%;
}

.user p {
    color: #666;
    font-size: 12px;
}
.user h5 {
    color: #555;
}
header img,
.top-users img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.links.active {
    background: #e6f0ff;
    border-left: 4px solid rgb(84, 104, 253);
}

.overlay.active {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);
    z-index: 2;
}

.links {
    padding: 16px 14px;
    display: block;
    cursor: pointer;
    margin-top: 12px;
    border-radius: 8px;
    color: #444;
    transition: .3s;
}
.links:hover {
    text-decoration: none;
    background: #e6f0ff;
    border-left: 4px solid rgb(84, 104, 253);
}
.links i {
    display: inline-block;
    margin-right: 8px;
}

.main {
    padding-left: 0;
    padding-top: 60px;
}
.menue {
    cursor: pointer;
    display: block;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 12px; 
  width: 12px;  
  cursor: pointer;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><line x1='1' y1='1' x2='11' y2='11' stroke='gray' stroke-width='2'/><line x1='11' y1='1' x2='1' y2='11' stroke='gray' stroke-width='2'/></svg>") no-repeat center;
}


@media screen and (min-width: 1290px) {
    .sidebar {
        width: 230px;
        opacity: 1;
        pointer-events: auto;
    }
    .main {
        padding-left: 230px;
    }
    header .search {
        width: 240px;
        opacity: 1;
        pointer-events: auto;
    }
    header {
        padding: 8px 32px 8px 238px;
    }
    .menue {
        display: none;
    }
}